.logout__button{
    position:absolute;
    right: 70px;
    top: 30px;
}

.logout__button-submit{
    padding: 5px 10px;
    width: 80px;
    height: 25px;
    border: 1px solid #d8d1c9;
    background: #F5F5F5;
    color: #d8d1c9;
}

.admin-form__content{
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin-form__heading{
    margin-bottom: 20px;
    text-align: center;
    }

.admin-form__heading h2 {
    color: #6b5a4a;
    font-family: "Playfair Display", serif;
}

.search-form{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.search-form__item{
    display: flex;
    width: 100%;
    gap: 10px;
}

.search-form__item-name{
    margin-right: 20px;
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    background: #fcfcfc;
}

.search-form__item-gender{
    margin-right: 30px;
    padding: 10px;
    width: 10%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f5f5f5cd;
    color: #8f7c6a;
}

.search-form__item-category{
    margin-right: 20px;
    padding: 10px;
    width: 25%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f5f5f5cd;
    color: #8f7c6a;
}

.search-form__item-date{
    padding-right: 30px;
    margin-right: 20px;
    padding: 10px;
    width: 15%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f5f5f5cd;
    color: #8f7c6a;
}

.search-form__item-gender,
.search-form__item-category,
.search-form__item-date {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f5f5f5cd url("data:image/svg+xml;utf8,<svg fill='%238f7c6a' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.search-form__button{
    width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.search__button-submit{
    padding: 10px;
    height: 40px;
    width: 80px;
    border: none;
    background: #6b5a4a;
    color: #fff;
    cursor: pointer;
}

.reset__button-submit{
    padding: 10px;
    height: 40px;
    width: 80px;
    border: none;
    background: #d8d1c9;
    color: #fff;
    cursor: pointer;
}

.search-form__option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.export__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export__button-submit{
    padding: 10px;
    width: 110px;
    height: 35px;
    border: none;
    background: #e5e1dd;
    color: #6b5a4a;
    cursor: pointer;
    outline: none;
}

.pagination{
    color: #6b5a4a;
}

.admin-table{
    margin: 10px auto;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
}

.admin-table__inner{
    width: 100%;
}

.admin-table__row td{
    border-bottom: 1px solid #ddd;
}

.admin-table__row:last-child td {
    border-bottom: none;
}

.admin-table__header{
    padding: 15px;
    margin-right: 30px;
    color: #fff;
    background:#6b5a4a;
    border-bottom: 1px solid #ddd;
}

.admin-table__item{
    color: #6b5a4a;
}

.detail__button{
    margin: 10px;
    padding: 10px;
    width: 60px;
    height: 40px;
    border: 1px solid #ddd;
    background: #F5F5F5;
    color: #d8d1c9;
    cursor: pointer;
}

.Pagination {
    display: flex;
    align-items: center;
    list-style: none;
}


.Pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    background: #fff;
    border: solid 1px #ddd;
    font-size: 12px;
    color: #6b5a4a;
    transition: all 0.15s linear;
    text-decoration: none;
}

.Pagination-Item-Link-Icon {
    width: 20px;
}

.Pagination .active .Pagination-Item-Link {
    background: #6b5a4a;
    color: #fff;
    pointer-events: none;
}

.Pagination-Item-Link:hover {
    background: #6b5a4a;
    color: #fff;
}

.modal-content {
    display: none;
    background: #fff;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    padding: 30px;
    max-width: 600px;
    border-radius: 8px;
    border: 2px solid #6b5a4a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.modal-active {
    display: block;
}

.modal__button--close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: 1px solid #6b5a4a;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.modal__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.modal__item--heading {
    width: 150px;
    font-weight: bold;
    text-align: left;
    color: #6b5a4a;
    margin-right: 30px;
}

.modal__item--value {
    flex: 1;
    text-align: left;
    word-break: break-word;
    color: #6b5a4a;
}

.modal__delete {
    text-align: center;
    margin-top: 20px;
}

.modal__delete--button {
    padding: 5px 10px;
    background-color: #c76868ef;
    color: #fff;
    border: none;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
