.header{
    border-bottom: 1px solid #ddd;
    display: flex;
    font-family: "Playfair Display", serif;
}

.header__inner{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    color: #6b5a4a;
    text-decoration: none;
    font-size: 30px;
}