.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    color: #D2B48C;
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__heading h2 {
    font-weight: 250;
}

.form{
    margin: 0 auto;
    width: 70%;
}

.confirm-table{
    border: 1px solid #ddd;
}

.confirm-table__inner{
    width: 100%;
}

.confirm-table__inner th,
.confirm-table__inner td {
    height: 60px;
}

.confirm-table__header{
    padding: 15px 30px;
    width: 25%;
    border-bottom: 1px solid #ddd;
    background-color: #D2B48C;
    color: #fff;
    text-align: left;
}

.confirm-table__text{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #D2B48C;
}

.confirm-table__row:first-child .confirm-table__text {
    display: flex;
}

.confirm-table__text input{
    padding-left: 20px;
    width: 100%;
    outline: none;
    border: none;
    color: #D2B48C;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text{
    border-bottom-width: 0;
}

.form__button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
}

.form__button-submit{
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background: #D2B48C;
    color: #fff;
    cursor: pointer;
    margin-left: 70px;
}

.form-button-modify{
    padding: 10px;
    width: 100px;
    height: 40px;
    background: none;
    border: none;
    text-decoration: underline;
    color: #D2B48C;
    cursor: pointer;
}