.thanks__content{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    height: 100vh;
    position: relative;
}

.thanks__content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.thanks__logo{
    font-size: 15px;
    color: #6b5a4a;
}

.thanks__button{
    margin-top: 30px;
    text-align: center;
}

.thanks__button-home{
    padding: 10px;
    width: 100px;
    height: 40px;
    color: #fff;
    background: #6b5a4a;
    border: none;
    cursor: pointer;
}

.background__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: rgba(210, 180, 140, 0.15);
    z-index: 0;
    white-space: nowrap;
    pointer-events: none;
    text-align: center;
    font-family: "Playfair Display", serif;
}
